<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/detail">Conocer los Quality Gates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/config">Configuración % Atributos de Calidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/configqg">Configuración % Quality Gates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Administrar Quality Gates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/result">Resultados Quality Gates</a>
                </li>
              </div>
            </div>      
          </nav>
    <h1 style="font-size:95%;">Los Quality Gates son puntos en el curso de un proyecto de desarrollo, en los que se toman decisiones sobre el lanzamiento del siguiente paso del proyecto en función de criterios de calidad claramente definidos.</h1>     
          <a href="http://mpiua.invid.udl.cat/usabilidad/atributo-de-la-calidad-del-software/">
            <img src="http://mpiua.invid.udl.cat/wp-content/uploads/2014/07/SoftwareQuality_cas-1024x493.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p style="text-align:center">Cibergrafia..</p>
            </div>
          </a>

        <link rel="stylesheet"
        href="https://bootswatch.com/4/materia/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

     </head>
 <body>
  <form action="/config" method="get" style="text-align:center">
    <div class="container">
        <h2>Funcionalidad:</h2>
        <p>Funcionalidad:  Se refiere a la capacidad del producto de software para suministrar un conjunto de funciones que satisfagan las necesidades explícitas de los usuarios, al ser utilizado bajo condiciones específicas.
            Debe cumplir con todos los criterios de aceptación, cubrir los escenarios de prueba y cumplir con los objetivos de negocio expresados en las diferentes Historias de Usuario </p>            
        <table class="table table-bordered">
        <thead>
            <tr>
            <th>Quality Gate</th>
            <th>Medición</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
            <td>El 100 % de las HU son aprobadas antes de desplegadar a un ambiente productivo</td>
            <td>(Cantidad de HU aprobados / HU totales) * 100</td>
            </tr>

            <tr>
            <td>El 100% de las API que se integren con otras aplicaciones deben estar registradas en un documento con su respectivo contrato, debe contener la descripción de los mensajes de respuesta ante los fallos y los escenarios posibles. Este documento debe estar actualizado durante todo el proceso de desarrollo</td>
            <td>(Cantidad api(endpoints) integradas con otra aplicaciones y bien documentadas / total apis)*100</td>
            </tr>
        </tbody>    
        </table>
    </div>

    <div class="container">
        <h2>Fiabilidad/confiabilidad:</h2>
        <p>Es el riesgo de falla del software y la estabilidad de un programa cuando se expone a condiciones inesperadas</p>
        <table class="table table-bordered">
        <thead>
            <tr>
            <th>Quality Gate</th>
            <th>Medición</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
            <td>El proyecto tiene descrito y graficado el proceso de soporte, este proceso debe tener; clasificación de incidentes, recurrencia de los incidentes, clasificación del impacto de los incidentes, descripción de garantías y niveles de servicio.</td>
            <td>Si - 100% , No - 0%</td>        	
            </tr>
        </table>
    </div>


    <div class="container">
        <h2>Mantenibilidad:</h2>
        <p>La facilidad con la que se puede modificar el software, adaptarlo para otros fines o transferirlo de un equipo de desarrollo a otro.</p>            
        <table class="table table-bordered">
        </tbody>
        <thead>
             <tr>
             <th>Quality Gate</th>
             <th>Medición</th>
             </tr>
        </thead>
        <tbody>

             <tr>
             <td>La arquitectura de la aplicación tiene separación de capas, y de responsabilidades utilizando patrones de desarrollo.</td>
             <td>Si - 100% , No - 0%</td>        	
             </tr>
             
             <tr>
             <td>El 100% de las API que se integren con otras aplicaciones deben estar registradas en un documento con su respectivo contrato, debe contener la descripción de los mensajes de respuesta ante los fallos y los escenarios posibles. Este documento debe estar Máximo se permiten 1 issues/bugs de análisis de código estático Por cada 500 líneas de código.
                actualizado durante todo el proceso de desarrollo</td>
             <td>(Cantidad api(endpoints) integradas con otra aplicaciones y bien documentadas / total apis)*100</td>
             </tr>

             <tr>
             <td>Máximo se permite 1 code smells de análisis de código estático por cada 500 líneas</td>
             <td>(Cantidad api(endpoints) integradas con otra aplicaciones y bien documentadas / total apis)*100</td>
             </tr>

             <tr>
             <td>Máximo se permite 1 vulnerabilidad de análisis de código estático por cada 500 líneas.</td>
             <td>(Cantidad api(endpoints) integradas con otra aplicaciones y bien documentadas / total apis)*100</td>   
             </tr>

             <tr>
             <td>% la cobertura de pruebas debe ser superior al 50%</td>
             <td>((% Cobertura de pruebas de sonarqube + 6 % de Margen de error de sonarqube)/100)*100</td>
             </tr>

             <tr>
             <td>El % de código duplicado debe estar por debajo del 3%.</td>
             <td>1 - ((%de codigo duplicado registrado en sonar/100)*100 - 3% de holgura de error)/100</td>   
             </tr>

        </tbody>
        </table>
    </div>
    
    <div class="container">
        <h2>Rendimiento/Eficiencia:</h2>
        <p>Se refiere al uso de recursos de una aplicación y cómo esto afecta su escalabilidad, satisfacción del cliente y tiempos de respuesta.</p>
        <table class="table table-bordered">
        <thead>
            <tr>
            <th>Quality Gate</th>
            <th>Medición</th>
            </tr>
        </thead>
        <tbody>
           			           
            <tr>
            <td> Las api deben responder en un tiempo promedio de respuesta igual o menor a 5 segundos c/u.</td>
            <td>(Cantidad de Apis con Tiempo aceptable/Cantidad de Apis Totales) *100</td>         	
            </tr>
        </table>
    </div>

    <div class="container">
        <h2>Usabilidad:</h2>
        <p>La Usabilidad es la medida de la calidad de la experiencia que tiene un usuario cuando interactúa con un producto o sistema.</p>
    </div>

    <div class="container">
        <h2>Seguridad:</h2>
        <p> Evalúa qué tan bien una aplicación protege la información contra el riesgo de infracciones de software.</p>
    </div>

    <div class="container">
        <h2>Portabilidad:</h2>
        <p> se refiere exclusivamente a la propiedad que posee un software que le permite ser ejecutado en diferentes plataformas y/o sistemas operativos.</p>
    </div>

    <div style="text-align:center">
        <button type="submit" class="btn btn-info mb-2" style="text-align:center" >Siguiente ></button>  
    </div>
  </form>
 </body>
</html>